@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font1: "Overpass", sans-serif;
  --font2: "Ubuntu", sans-serif;
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);
  --padding-container: 80px 0;
  --color-white: #fff;
  --color-light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
}

body {
  font-family: var(--font1);
}

.hero {
  --padding-container: 0;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  position: relative;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
  height: 150px;

  border: 1px solid white;
}

.hero__main {
  border: 1px solid white;
  text-align: center;
  color: #fff;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  font-size: 2.3rem;
}

.hero__paragraph {
  margin-top: 1em;
  font-size: 1.2rem;
  font-weight: 300;
}

.hero__btns {
  margin-top: 2em;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 1em;
  margin-bottom: 8em;
}

.hero__cta {
  color: var(--color-light-red);
  text-decoration: none;
  font-family: var(--font2);
  font-weight: 600;
  border: 1px solid currentColor;
  border-radius: 2em;
  /* uses same color as stated in 'color' property */
  padding: 0.7em 1.2em;
  background: var(--color-white);
}

.hero__cta--bg {
  --color-white: transparent;
  /* is the same as 
    background: transparent;
        as ( the --color-white variable sets a modification in all the hero__cta block ) 
    */
  --color-light-red: #fff;
  /* same as before ... */
}

.hero__patterns {
  position: absolute;
  top: 0;
  left: -180px;
  width: 160%;
  z-index: -1;
}
