@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font1: "Overpass", sans-serif;
  --font2: "Ubuntu", sans-serif;
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);
  --padding-container: 80px 0;
  --color-white: #fff;
  --color-light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --grayish-blue: hsl(240, 2%, 79%);
  /*  (footer text)*/

  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  /* (body copy)*/

  --very-dark-black-blue: hsl(240, 10%, 16%);
  /* (footer background)-*/

  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}

body {
  font-family: var(--font1);
}

.hero {
  --padding-container: 0;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  position: relative;
  z-index: 1;
  border-radius: 0 0 0 7em;
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-content: space-between;
  height: 150px;

  border: 1px solid white;
}

.hero__main {
  border: 1px solid white;
  text-align: center;
  color: #fff;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  font-size: 2.3rem;
}

.hero__paragraph {
  margin-top: 1em;
  font-size: 1.2rem;
  font-weight: 300;
}

.hero__btns {
  margin-top: 2em;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 1em;
  margin-bottom: 8em;
}

.hero__cta {
  color: var(--color-light-red);
  text-decoration: none;
  font-family: var(--font2);
  font-weight: 600;
  border: 1px solid currentColor;
  border-radius: 2em;
  /* uses same color as stated in 'color' property */
  padding: 0.7em 1.2em;
  background: var(--color-white);
}

.hero__cta--bg {
  --color-white: transparent;
  /* is the same as 
    background: transparent;
        as ( the --color-white variable sets a modification in all the hero__cta block ) 
    */
  --color-light-red: #fff;
  /* same as before ... */
}

.hero__patterns {
  position: absolute;
  top: 0;
  left: -180px;
  width: 160%;
  z-index: -1;
}

.subtitle {
  font-size: 1.8rem;
  color: var(--very-dark-blue);
  text-align: center;
}

.designed__illustration {
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(./images/illustration-editor-mobile.svg);
}

.designed__paragraph {
  color: var(--very-dark-grayish-blue);
  line-height: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-family: var(--font2);
  margin-top: 1em;
}

.designed__about {
  margin-bottom: 3em;
}

.infrastructure {
  position: relative;
  text-align: center;
  color: #fff;
}

/* placing background using before pseudoelement */
.infrastructure::before {
  content: "";
  display: block;
  padding: 80px;
  width: 100%;
  top: 30%;
  bottom: 0;
  position: absolute;
  background-color: var(--very-dark-desaturated-blue);
  z-index: -1;
  border-radius: 0 6em 0 6em;
}

.infrastructure__phones {
  width: 100%;
}

.infrastructure__title {
  font-size: 2rem;
}

.infrastructure__paragraph {
  color: var(--grayish-blue);
  line-height: 1.5;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}

.infrastructure__container {
  margin-top: 1rem;
}

.free__illustration {
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(./images/illustration-laptop-mobile.svg);
}
