* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  font-size: 16px;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding: 20px;
  color: #fff;
}

p {
  margin: 10px 0;
}

.container {
  width: 100%;

  margin: 0 auto;
  padding: 0 0px;
  min-height: 100%;
}

#navbar {
  background: #333;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  list-style: none;
  float: left;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar ul li {
  float: left;
}

#navbar ul a {
  display: block;
  padding: 20px;
}

#navbar ul li a:hover {
  background-color: #444;
  color: #8abdf7;
}

#showcase {
  background: url("./images/showcase.jpg") no-repeat center center/cover;
}

.showcase-content {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 7rem 0;
  text-align: center;
}

.btn {
  display: inline-block;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 0.7em;
}

.btn:hover {
  background: #8abdf7;
}

#basics {
  height: 100%;
}

.basics__img {
  float: left;
  width: 50%;
  min-height: 100%;
  height: 400px;
  background: url("./images/photo-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#basics .basics__content {
  float: right;
  width: 50%;
  height: 400px;
  text-align: center;
  padding: 50px 0px;
  overflow: hidden;
  background-color: #333;
  overflow: hidden;
  padding: 100px 30px;
}

.box {
  float: left;
  width: 33.3%;
  padding: 30px;
  text-align: center;
  height: 100%;
}

.bg-primary {
  background-color: rgb(164, 150, 210);
}

.bg-light {
  background-color: rgb(195, 217, 231);
}
